 * {
            margin: 0;
            padding: 0;
            font-family: 'Inter', Arial, sans-serif;
        }
        body {
            background-color: rgb(240, 230, 216);
            color: #fff;
        }
        .fundo {
            background-color:  rgb(224, 192, 131);
            height: 100vh;
            color: #fff;
            font-family: 'Inter', Arial, sans-serif;
            text-align: center;
            padding: 20px 0;
        }
        .calculadora {
            position: absolute;
            background-color:  rgb(172, 89, 11);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }
        h1 {
            color: rgb(114, 69, 18);
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #resultado {
            background-color: #ffffff;
            width: 207px;
            height: 40px;
            margin: 5px;
            font-size: 25px;
            color: black;
            text-align: right;
            padding: 10px;
            border-radius: 5px;
        }
        .botao {
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            margin: 3px;
            background-color: rgb(114, 69, 18);
            border: none;
            color: #fff;
            border-radius: 5px;
        }
        .botao:hover {
            background-color: rgb(31, 31, 31);
        }
        table {
            margin: 0 auto;
        }
        .botao:active {
            background-color: rgb(31, 31, 31);
        }
        .voltar-button {
            padding: 8px 15px;
            background-color:rgb(172, 89, 11);
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 5px;
            font-weight: bold;
            display: inline-block;
            margin-top: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
        }
        .voltar-button:hover {
            background-color: rgb(114, 69, 18);
        }
